{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
    {% if validlink %}
        <div class="page-title" align="center">
            <h3>Изменить пароль</h3>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Изменить пароль</button>
        </form>
    {% else %}
        <div class="main-page-text" align="center">
            Ссылка, по которой вы перешли, не действительна (возможно, уже была использована). Пожалуйста, запросите
            смену пароля ещё раз.
        </div>
    {% endif %}
{% endblock %}