{
%
load
static
%
}

body {
    background-color: #D3D3D3;
    text-shadow: #8B8378 0 0 1px;
}

button {
    background-color: #8B7765;
    text-shadow: black 0 0 1px;
}

.header-text1 {
    font-family: "URW Chancery L", cursive;
    padding-top: 40pt;
    padding-right: 100pt;
    text-shadow: black 0 0 10px;
    color: #CDC0B0;
}

.header-text2 {
    font-family: "URW Chancery L", cursive;
    padding-top: 5pt;
    padding-right: 140pt;
    font-size: 5em;
    text-shadow: black 0 0 15px;
    color: #CDC0B0;
}

#main-menu {
    float: none;
    text-align: center;
    margin-top: 4pt;
    margin-bottom: 6pt;
}

a {
    color: #8B8378;
    text-shadow: white 0 0 2px;
}

a:active {
    color: #8B8378;
}

a:visited {
    color: #8B8378;

}

a:hover {
    color: rgb(32, 32, 32);
}

#search {
    margin-right: 10pt;
    margin-left: 25pt;
}

.menu {
    margin-top: 20pt;
    margin-right: 460pt;
    margin-left: 460pt;
    margin-bottom: 10pt;
    color: #8B8378;
}

.menu-header {
    margin-top: 10pt;
    color: #8B8378;
}

.post-author {
    float: left;
    width: 280px;
    overflow: hidden;
    color: rgba(129, 77, 77, 0.664);
    background: rgba(59, 55, 55, 0.137);
    text-shadow: black;
    text-align: left;
    padding-right: 5pt;
    border: 2px double rgb(29, 26, 26);
    margin-right: 10pt;
    margin-top: 10pt;
}

.post-box {
    margin-left: 300px;
    overflow: hidden;
    height: auto;
    text-align: justify;
    margin: 20pt;
    float: left;
    margin-right: 40pt;
}

.post-body {
    overflow: hidden;
    height: auto;
    padding-left: 30pt;
    padding-right: 30pt;
    margin-top: 10pt;
    color: rgb(59, 55, 55);
    padding-top: 5pt;
    padding-bottom: 6pt;
    border: 2px double rgb(29, 26, 26);
    background: rgba(59, 55, 55, 0.137);
}

.avatar {
    border-radius: 15%;
    box-shadow: 0 0 10px black;
    align-self: center;
    margin-left: 10pt;
    margin-right: 18pt;
    border: 2px outset rgb(29, 26, 26);
}

.author {
    background: rgba(37, 36, 36, 0.185);
    box-shadow: 0 0 10px black;
    margin-right: 40pt;
    margin-left: 15pt;
    text-align: center;
    border: 2px outset rgb(29, 26, 26);
}

.status {
    text-align: center;
    color: rgb(59, 55, 55);
    margin-right: 10pt;
}

.posts-counter {
    margin-left: 10pt;
    color: rgb(59, 55, 55);
}

.post-time {
    padding-left: 20pt;
    padding-bottom: 1pt;
    background: rgba(83, 78, 78, 0.342);
    border: 2px double rgb(29, 26, 26);
}

.new-post {
    margin-right: 40pt;
    margin-left: 40pt;
    margin-top: 15pt;
    margin-bottom: 15pt;
    color: rgb(59, 55, 55);
    text-align: center;
}

.np-title {
    color: #8B8378;
    padding-bottom: 10pt;
}

.reply-a {
    text-align: left;
}

.about-user {
    float: left;
    overflow: hidden;
    color: rgba(129, 77, 77, 0.664);
    background: rgba(37, 36, 36, 0.185);
    text-shadow: black;
    padding: 5pt;
    border: 2px double rgb(29, 26, 26);
    margin: 10pt;
    padding-left: 20pt;
    align-items: center;
    width: 250pt;
}

.posts-user {
    overflow: hidden;
    height: auto;
    padding-left: 30pt;
    padding-right: 30pt;
    margin: 10pt;
    color: #db9191;
    padding-top: 63pt;
    padding-bottom: 63pt;
    border: 3px double rgb(29, 26, 26);

}

.profile {
    margin-left: 100pt;
    width: 1000pt;
    overflow: hidden;
    height: auto;
    text-align: justify;
    margin-top: 15pt;
    margin-bottom: 5pt;
    float: left;
    background: rgba(83, 78, 78, 0.089);
    margin-right: 100pt;
    text-align: center;
}

.main-page-text {
    color: #8B8378;
    margin-bottom: 20pt;
    margin-top: 20pt;
    font-size: 20px;
    text-align: center;
    margin-right: 40pt;
    margin-left: 40pt;
    font-family: "Classica One Regular", cursive;
    font-style: normal;
}

.location-list {
    margin: 5pt;
    margin-right: 70pt;
    padding-right: 50pt;
    margin-left: 80pt;
}

.location-link {
    border: 2px double rgb(29, 26, 26);
    background: rgba(83, 78, 78, 0.089);
    margin: 10pt;
    margin-left: 40pt;
    padding: 5pt;
    color: #8B8378;
}

.location-topic {
    color: #8B8378;
    padding: 5pt;
    font-size: 20px;
}

.page-title {
    color: #8B8378;
    text-shadow: 0 1px 2px black;
    margin-top: 10pt;
    background: rgba(83, 78, 78, 0.089);
    padding: 2pt;
}

.footer {
    color: #8B8378;
    position: fixed;
    left: 0px;
    padding-bottom: 10px;
    height: 30px;
    width: 100%;
}