{% extends 'base.html' %}

{% block content %}


    {% if character_list %}
        <div class="page-title" align="center">
            <h3>Каноны ролевой</h3>
        </div>
        {% for c in character_list %}
            {% if c.is_canon %}
                <div class="profile">
                    <div class="about-user" align="center">
                        <div class="author">{{ c.name }} {{ c.last_name }}</div>
                        <p></p>
                        {% if c.player %}
                            <div class="status">игрок: {{ c.player.username }}</div>
                        {% else %}
                            <div class="status"><a href="#" class="nav-link dropdown-toggle" href="#"
                                                   data-toggle="modal"
                                                   data-target="#{{ c.name }}{{ c.last_name }}{{ c.age }}"
                                                   onclick="return false"
                                                   role="button">занять</a>
                            </div>
                        {% endif %}
                        <p></p>
                        <p><img src="{{ c.photo.url }}" width="180" height="180" class="avatar" align="center"></p>
                    </div>
                    <div class="posts-user">
                        <div class="posts-counter"><b>факультет: </b>{{ c.faculty.name }}</div>
                        {% if c.blood_status == 'p' %}
                            <div class="posts-counter"><b>статус крови:</b> чистокровный(ая)</div>
                        {% elif c.blood_status == 'h' %}
                            <div class="posts-counter"><b>статус крови:</b> полукровка</div>
                        {% elif c.blood_status == 'm' %}
                            <div class="posts-counter"><b>статус крови:</b> магглорождённый(ая)</div>
                        {% endif %}
                        <div class="posts-counter"><b>возраст:</b> {{ c.age }}</div>
                        <div class="posts-counter"><b>курс:</b> {{ c.year }}</div>
                        <p></p>
                        <div class="posts-counter"><b> <a href="#" data-toggle="modal"
                                                          data-target="#{{ c.name }}{{ c.last_name }}"
                                                          onclick="return false"
                                                          role="button">Описание
                            персонажа</a></b></div>
                    </div>
                </div>
                <div class="modal fade" id="{{ c.name }}{{ c.last_name }}" tabindex="-1" role="dialog"
                     aria-labelledby="description"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">Описание персонажа</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ c.description }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="{{ c.name }}{{ c.last_name }}{{ c.age }}" tabindex="-1" role="dialog"
                     aria-labelledby="pick" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">Подтверждение действия</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Вы хотите занять этого персонажа?
                            </div>
                            <div class="modal-footer">
                                <form action="{% url 'Characters:take' character_id=c.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                    <button type="submit" class="btn btn-primary">Да</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <p></p>
       ㅤㅤㅤㅤㅤㅤ


       <div class="page-title" align="center">
            <h3>Неканоны ролевой</h3>
        </div>
        {% for c in character_list %}
            {% if c.is_canon == False %}
                <div class="profile">
                    <div class="about-user" align="center">
                        <p>
                        <div class="author">{{ c.name }} {{ c.last_name }}</div>
                        </p>
                        <p>
                        <div class="status">игрок: {{ c.player.username }}</div>
                        </p>
                        <p><img src="{{ c.photo.url }}" width="180" height="180" class="avatar" align="center"></p>
                    </div>
                                        <div class="posts-user">
                        {% if c.faculty %}
                            <div class="posts-counter"><b>факультет: </b>{{ c.faculty.name }}</div>
                        {% else %}
                            <div class="posts-counter"><b>преподаватель</b></div>
                        {% endif %}
                        {% if c.blood_status == 'p' %}
                            <div class="posts-counter"><b>статус крови:</b> чистая кровь</div>
                        {% elif c.blood_status == 'h' %}
                            <div class="posts-counter"><b>статус крови:</b> полукровка</div>
                        {% elif c.blood_status == 'm' %}
                            <div class="posts-counter"><b>статус крови:</b> магглорождённый(ая)</div>
                        {% endif %}
                        <div class="posts-counter"><b>возраст:</b> {{ c.age }}</div>
                        {% if c.year != 0 %}
                            <div class="posts-counter"><b>курс:</b> {{ c.year }}</div>
                        {% endif %}
                        <p></p>
                        <div class="posts-counter"><b> <a href="#" data-toggle="modal"
                                                          data-target="#{{ c.name }}{{ c.last_name }}"
                                                          onclick="return false"
                                                          role="button">Описание
                            персонажа</a></b></div>
                    </div>
                </div>

                <div class="modal fade" id="{{ c.name }}{{ c.last_name }}" tabindex="-1" role="dialog" aria-labelledby="description"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">Описание персонажа</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ c.description }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        Пока не создано ни одного персонажа.
    {% endif %}


    <!-- Modal -->
    <div class="modal fade" id="pick" tabindex="-1" role="dialog" aria-labelledby="pick" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Подтверждение действия</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы хотите занять этого персонажа?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                    <button type="button" class="btn btn-primary">Да</button>
                </div>
            </div>
        </div>
    </div>





{% endblock %}