{% extends 'base.html' %}
{% load bootstrap_tags %}


{% block content %}
    <div class="page-title" align="center">
        <h3>{{ theme.name }}</h3>
    </div>

    <div class="post-box">
        <div class="post-time">
            {{ theme.first_post.when }}
        </div>
        <div class="post-author">
            <ul>
                <p>
                <div class="author"><a
                        href="{% url 'profile' pk=theme.first_post.author.pk %}">{{ theme.first_post.author.username }}</a>
                </div>
                </p>
                <p>
                <div class="status">{{ theme.first_post.author.status }}</div>
                </p>
                {% if theme.first_post.author.photo %}
                    <p><img src="{{ theme.first_post.author.photo.url }}" width="180" height="180" class="avatar"
                            align="center"></p>
                {% endif %}
                <!--<p><div class="posts-counter">Сообщений: 249</div></p>-->
            </ul>
        </div>
        <div class="post-body">
            <div id="p193244-content" class="post-content">
                {{ theme.first_post.text }}
                <p>___________________________________________________________________</p>
                {% if theme.first_post.picture %}
                    <img src="{{ theme.first_post.picture.url }}" class="avatar">
                    <p>___________________________________________________________________</p>
                {% endif %}
                <form method="post"
                      action="{% url 'Forum:like' pk=theme.first_post.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Мне нравится"/>
                </form>
                <p></p>
                <form method="post"
                      action="{% url 'Forum:dislike' pk=theme.first_post.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Мне не нравится"/>
                </form>
                <p>___________________________________________________________________</p>
                <p><b>Лайки:</b> {{ first_likes }} <b>Дизлайки:</b> {{ first_dislikes }}</p>
            </div>
        </div>
    </div>

    {% for post in posts %}
        <div class="post-box">
            <div class="post-time">
                {{ post.when }}
            </div>
            <div class="post-author">
                <ul>
                    <p>
                    <div class="author"><a
                            href="{% url 'profile' pk=post.author.pk %}">{{ post.author.username }}</a>
                    </div>
                    </p>
                    <p>
                    <div class="status">{{ post.author.status }}</div>
                    </p>
                    {% if post.author.photo %}
                        <p><img src="{{ post.author.photo.url }}" width="180" height="180" class="avatar"
                                align="center"></p>
                    {% endif %}
                    <!--<p><div class="posts-counter">Сообщений: 249</div></p>-->
                </ul>
            </div>
            <div class="post-body">
                <div id="p193244-content" class="post-content">
                    {% if post.character %}
                        <p><b>персонаж:</b> <i>{{ post.character.name }} {{ post.character.last_name }}</i></p>
                    {% endif %}
                    {{ post.text }}
                    {% if post.url %}
                        <p><b>ссылка:</b> <i>{{ post.url }}</i></p>
                    {% endif %}
                    <p>___________________________________________________________________</p>
                    {% if post.picture %}
                        <div>
                            <img src="{{ post.picture.url }}" class="avatar">
                        </div>
                        <p>___________________________________________________________________</p>
                    {% endif %}

                    <form method="post"
                          action="{% url 'Forum:like' pk=post.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Мне нравится"/>
                    </form>
                    <p></p>
                    <form method="post"
                          action="{% url 'Forum:dislike' pk=post.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Мне не нравится"/>
                    </form>
                    <p>___________________________________________________________________</p>
                    <p><b>Лайки:</b> {{ likes|get_item:post.id }} <b>Дизлайки:</b> {{ dislikes|get_item:post.id }}</p>
                    {% if post.author == request.user %}
                        <a href="{% url 'Forum:delete' pk=post.id %}">Удалить пост</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    {% if request.user.is_authenticated == False %}
        <div class="main-page-text">Чтобы написать пост в этой теме, <a href="{% url 'login' %}">войдите</a>.</div>
    {% elif theme.is_open == False %}
        <div class="main-page-text">Данная тема закрыта.</div>
    {% elif theme.is_game %}
        <form method="get" action="{% url 'Forum:new_game' %}" class="main-page-text">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Новый пост"/>
        </form>
    {% elif theme.is_game == False %}
        <form method="get" action="{% url 'Forum:new_system' %}" class="main-page-text">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Новый пост"/>
        </form>
    {% endif %}
{% endblock %}