{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
    <div class="page-title" align="center">
        <h3>Новый игровой пост</h3>
    </div>
    <form class="menu" method="post" action="{% url 'Forum:new_game' %}" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}
            {{ form|as_bootstrap }}
        </div>
        <div class="form-group">
            <input type="hidden" value="{{ request.theme_id }}" name="theme_id"/>
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Создать" align="center"/>
        </div>
    </form>
{% endblock %}